/nbproject/private/
/eProjectLocal-war/nbproject/private/
/eProjectLocal-ejb/nbproject/private/
/eProjectLocal-ejb/build/
/eProjectLocal-ejb/dist/
/eProjectLocal-war/build/
/build/
/dist/
/eProjectLocal-war/dist/